[defaults]
inventory = ./hosts
host_key_checking = False  # Disable SSH key checking if needed
retry_files_enabled = False  # Disable retry file creation
interpreter_python = /home/majid/ise/bin/python
