{
    "Cisco-IOS-XE-ospf:ospf": {
        "process-id": [
            {
                "id": 1,
                "network": [
                    {"ip": "192.168.222.0", "wildcard": "0.0.0.255", "area": 0},
                    {"ip": "192.168.223.0", "wildcard": "0.0.0.255", "area": 1},
                    {"ip": "192.168.224.0", "wildcard": "0.0.0.255", "area": 1},
                    {"ip": "192.168.111.0", "wildcard": "0.0.0.255", "area": 0}
                ],
                "router-id": "1.1.1.1"
            }
        ]
    }
}
