device1 ansible_host=10.11.12.13
device2
192.168.1.10

[asa]
asa1
asa2

[router]
r1
r2
r3

[switch]
s1
s2
s3
s4

[ios]
r1
r2
r3
s1
s2
s3
s4


[cisco:children]
router
switch
asa

[srx]
srx[1:3]
srx4 ansible_user=ali

[noname]
10.20.30.[40:45]
10.20.30.70


[junos]
core1
core2 ansible_port=2222 ansible_user=user1

[srx:vars]
ansible_user=root
ansible_port=2222

[all:vars]
ansible_user=majid
ansible_port=22



